p { 
  color:red; 
} 

body{ 
  margin: 0; 
}

#searchbar {
  display: block; 
  width: 565px; 
  height: 40px; 
  margin: 25px 0px 35px 0px; 
  position: relative; 
  left: -145px;  
  border-width: thin;  
  border: .1px solid #e0e0e0; 
  box-shadow: -2px 5px 3px -3px #d1d1d1;
  padding-left: 18px; 
  font-size: 16px; 
  
}

.search { 
  position: relative; 
  margin: 140px auto; 
  width: 250px; 
}

#googlesearch, #feelinglucky{
  height: 35px;  
  border: none;
  width: 120px;   
  color: #808080;  
  background: #F2F0F0; 
  font-weight:bold; 
}

#feelinglucky{
  width: 130px;
  right: -10px; 
  position: absolute;  
}

#googlesearch:hover, #feelinglucky:hover{
  border: 1px solid #d1d1d1;
  color: black; 
}

ul {
  list-style-type: none;
  margin: 12px 12px; 
  padding: 0;  
  overflow: hidden; 
}
.topright{
  float: right; 
}

li {
  float: left; 
}

li a { 
  display: block; 
  padding: 10px; 
  color: #585858; 
  font-size: 14px; 
  text-decoration: none; 
}

.grid{
  height: 25px; 
  width: 25px; 
  position: relative; 
  top: -5px; 
  filter: opacity(40%);
}

.grid:hover{
  filter: opacity(100%); 
}

#bell{
  width: 20px; 
  height: 20px; 
  top: -2px; 
}

#sunset{
  width: 35px; 
  height: 35px;
  top: -13px;  
}

.botnav{
  overflow: auto; 
  position: fixed; 
  bottom: 0%; 
  width: 100%; 
  background-color: #E8E8E8; 
}

.botnav a {
  float: left; 
  display: block; 
  padding: 12px 13px 12px 25px; 
  text-decoration: none; 
  text-align: center; 
  font-size: 14px;
  color: #585858;
}

a:hover {
  text-decoration: underline; 
}
    

